*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-heading {
    position: relative;
    margin-top: 100px;
    color: #333;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px !important;
}

.section-heading:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #333;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.content {
    padding: 10px 0;
}


/*-----------------------------------------------------------------------------------*/

#publications {
    padding-bottom: 20px;
}

#publications .main-card {
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

#publications .publication-img>img {
    width: 100%;
    height: 25vh;
    transform: translateY(-25px);
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

#publications .publication-title h3 {
    color: #333333;
    font-size: 1.2rem;
    margin-top: 10px;
    text-transform: capitalize;
    text-align: center;
}

#publications .publication-date h5 {
    color: #333333;
    font-size: 0.95rem;
    text-transform: capitalize;
}

#publications .publication-discription p {
    color: #333333;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;
    font-size: 0.75rem;
}

#publications .btn {
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    color: #898989;
    font-weight: 600;
    border: 1px solid #898989;
    text-transform: uppercase;
}

#publications .btn:hover {
    background-color: #333333;
    color: #fff;
}