<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQE7R0vlFnlwnw/company-logo_200_200/0?e=1607558400&v=beta&t=RFn4HcMcpAMpOOzNB7mnYYigM_NQ_mMZpDHpslEryVc" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Projects</title>


</head>
<body id="page-top" class="politics_version">

	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav" style="
    background-color:#333333;">
      <div class="container">
        <a class="navbar-brand " href="../index.html">
			    <span id="logo">synergy</span>
		    </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link  " href="../index.html">Home</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link " href="experience.html">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active " href="projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link   " href="achievements.html">Achievements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="publication.html">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="blog.html">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="video.html">Videos</a>
            </li>
			      <li class="nav-item">
              <a class="nav-link " href="contact.html">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
      <div class="container">
          <h2 class="section-heading">Projects</h2>
        <div class="row" >
            <div class="box-item col-md-4">
              <div class="flip-box ">
                <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/frbd9towf/cta-2.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 1</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" >
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                     <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/hj4c4qnov/cta-3.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 2</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" >
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/hj4c4qnov/cta-3.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 2</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" >
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/hj4c4qnov/cta-3.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 2</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" >
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                <div class="flip-box-front text-center" style="background-image: url('https://s25.postimg.cc/hj4c4qnov/cta-3.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 2</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center" >
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                <div class="flip-box-front text-center filter-" style="background-image: url('https://s25.postimg.cc/l2q9ujy4f/cta-4.png');">
                  <div class="inner color-white">
                    <h3 class="flip-box-header" style="color: white;">Project 3</h3>
                    <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                  </div>
                </div>
                <div class="flip-box-back text-center">
                  <div class="inner color-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    <a href="#" class="button" target="_blank">Source Code</a> 
                    <a href="#" class="button" target="_blank" >Live Demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div><!-- end container -->
  </div><!-- end section -->
   
  <footer class="footer footer--bg">
    <div class="container text-center">
      <h1 class="footer__title">Synergy Community</h1>
      <div class="social-icon">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          
        </ul>
      </div>
      <p class="footer__paragraph">Copyright &copy; 2020 <a class="foot" href="../index.html">Synergy Community</a></p>
    </div>
  </footer>
    
    

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
    <script src="../js/custom.js"></script>

</body>
</html>
